<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MarksCard.Properties.Settings.VCConnectionString"
            connectionString="Data Source=admin-pc\sqlexpress;Initial Catalog=VC;Integrated Security=false;User ID=ADMIN;password=Dheemu"
            providerName="System.Data.SqlClient" />
        <add name="MarksCard.Properties.Settings.VCConnectionString1"
            connectionString="Data Source=.;Initial Catalog=VC;User ID=ADMIN;Password=Dheemu"
            providerName="System.Data.SqlClient" />
        <add name="MarksCard.Properties.Settings.VCConnectionString2"
            connectionString="Data Source=DESKTOP-C1MJPHJ\SQLEXPRESS;Initial Catalog=VC;User ID=ADMIN;Password=Dheemu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>